<div class="list-post">
  <div class="container">
    <div class="post-item">
      <div class="post-img">
        <img
          src="https://images.unsplash.com/photo-1559925393-8be0ec4767c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80"
          alt=""
        />
      </div>
      <div class="post-content">
        <h4 class="post-heading">Hãy cảm ơn mọi thứ trên cuộc đời này</h4>
        <p class="post-desc">
          Hãy cảm ơn cuộc đời vì mỗi sáng dậy bạn thấy tim còn đang đập, hơi thở
          vẫn còn đó.
        </p>
        <div class="post-bottom">
          <div class="bottom-left">
            <img
              src="https://images.unsplash.com/photo-1559925393-8be0ec4767c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80"
              alt=""
            />
            <p class="post-author">David Passenger</p>
          </div>
          <div class="bottom-right">
            <span class="post-date">22 March 2024</span>
          </div>
        </div>
      </div>
    </div>
    <div class="post-item">
      <div class="post-img">
        <img
          src="https://images.unsplash.com/photo-1559925393-8be0ec4767c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80"
          alt=""
        />
      </div>
      <div class="post-content">
        <h4 class="post-heading">Hãy cảm ơn mọi thứ trên cuộc đời này</h4>
        <p class="post-desc">
          Hãy cảm ơn cuộc đời vì mỗi sáng dậy bạn thấy tim còn đang đập, hơi thở
          vẫn còn đó.
        </p>
        <div class="post-bottom">
          <div class="bottom-left">
            <img
              src="https://images.unsplash.com/photo-1559925393-8be0ec4767c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80"
              alt=""
            />
            <p class="post-author">David Passenger</p>
          </div>
          <div class="bottom-right">
            <span class="post-date">22 March 2024</span>
          </div>
        </div>
      </div>
    </div>
    <div class="post-item">
      <div class="post-img">
        <img
          src="https://images.unsplash.com/photo-1559925393-8be0ec4767c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80"
          alt=""
        />
      </div>
      <div class="post-content">
        <h4 class="post-heading">Hãy cảm ơn mọi thứ trên cuộc đời này</h4>
        <p class="post-desc">
          Hãy cảm ơn cuộc đời vì mỗi sáng dậy bạn thấy tim còn đang đập, hơi thở
          vẫn còn đó.
        </p>
        <div class="post-bottom">
          <div class="bottom-left">
            <img
              src="https://images.unsplash.com/photo-1559925393-8be0ec4767c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80"
              alt=""
            />
            <p class="post-author">David Passenger</p>
          </div>
          <div class="bottom-right">
            <span class="post-date">22 March 2024</span>
          </div>
        </div>
      </div>
    </div>
    <div class="post-item">
      <div class="post-img">
        <img
          src="https://images.unsplash.com/photo-1559925393-8be0ec4767c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80"
          alt=""
        />
      </div>
      <div class="post-content">
        <h4 class="post-heading">Hãy cảm ơn mọi thứ trên cuộc đời này</h4>
        <p class="post-desc">
          Hãy cảm ơn cuộc đời vì mỗi sáng dậy bạn thấy tim còn đang đập, hơi thở
          vẫn còn đó.
        </p>
        <div class="post-bottom">
          <div class="bottom-left">
            <img
              src="https://images.unsplash.com/photo-1559925393-8be0ec4767c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80"
              alt=""
            />
            <p class="post-author">David Passenger</p>
          </div>
          <div class="bottom-right">
            <span class="post-date">22 March 2024</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="paginator">
    <p-paginator [rows]="rows" [totalRecords]="totalRecords" [pageLinkSize]="5" (onPageChange)="paginate($event)"></p-paginator>
  </div>
</div>
