@import "../../../styles.scss";
.header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 20px;
    
  }
  &-logo {
    font-weight: bold;
  }
  &-toggle {

  }
  .list-menu {
    .menu-item {
      display: inline-block;
      margin-right: 20px;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.25;
      &:hover {
        border-bottom: 1px solid $border-bottom-color;
      }
    }
  }
}