<div class="contact">
    <app-logo></app-logo>
    <div class="container">
        <h2 class="contact-title">Contact</h2>
        <p class="contact-desc">Please send your message to NhutHuynh.
            We will reply as soon as possible!</p>
        <div class="contact-form">
            <div class="form-action">
                <input type="text" placeholder="Name*">
                <input type="text" placeholder="Email Address*">
            </div>
            <div class="form-message">
                <textarea placeholder="Message*" name="" id=""></textarea>
            </div>
            <div class="btn-group">
                <button>Send</button>
            </div>
        </div>
        <div class="bottom-contact-form">
            <h4>Never miss a story from us,
                subscribe to our newsletter</h4>
            <div class="contact-form-item">
                <app-contact-form></app-contact-form>
            </div>
        </div>
    </div>

</div>