<div class="hl-post">
    <div class="container">
        <div class="hl-img">
            <img src="https://images.unsplash.com/photo-1469474968028-56623f02e42e?q=80&w=1474&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="">
        </div>
        <div class="hl-content">
            <h4 class="hl-heading">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, maxime. </h4>
            <p class="hl-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea fuga ducimus, voluptatibus
                autem possimus rerum labore iste tenetur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea fuga ducimus, voluptatibus
                autem possimus rerum labore iste tenetur?</p>
        </div>
        <div class="hl-bottom">
            <div class="bottom-left">
                <img src="https://images.unsplash.com/photo-1711843250662-2a688ef2c114?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHx8"
                    alt="avatar_highlights">
                <p class="author">David Silver</p>
            </div>
            <div class="bottom-right">
                <span class="hl-date">
                    02 Feb 2024
                </span>
            </div>
        </div>
    </div>
</div>